.nav {
    float: left;
    width: 150px;
    height: 100%;
    background-color: #f2f2f2;
    border-right: 1px solid #ccc;
}

.content {
    margin-left: 160px;
    padding: 20px;
}

.hover {
    background-color: #ccc;
}

.menu {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.selected {
    background-color: #666;
    color: #fff;
}
